.id-main {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  text-align: center;
}
.artist {
  text-align: end;
}
.pageNumber {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.page {
  text-align: center;
}
