.res.id-main {
  display: block;
}

.res .title,
.res .artist {
  text-align: start;
}

.res .title {
  font-size: 2rem;
  margin-bottom: 0;
}
.res .artist {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.res .results {
  margin-bottom: 20px;
}

.pageNumber {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.page {
  text-align: center;
}
