.res.id-main {
  display: block;
}

.res .title,
.res .artist {
  text-align: start;
}

.res .title {
  font-size: 1.5rem;
  margin-bottom: 0;
}
.res .artist {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.res .results {
  margin-bottom: 20px;
}

.res .nav {
  display: inline-flex;
  flex-direction: column;
}
.res .nav li {
  color: #2666cd;
  border-bottom: 1px solid #2666cd;
  cursor: pointer;
}

.pageNumber {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.page {
  text-align: center;
}
